{% extends 'base.html' %}{% load static %} {% load crispy_forms_tags %} {% block content %}
<div class="container-fluid" style="margin-top:5%;">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-2  p-3 ">
        <div class=" align-self-center p-3 tred ">
          <h5 id="trend">Site of the Day</h5>
          <span class="trend_day">{{random_posts.date|date}}</span>
        </div>
        <div class="align-self-center posted_by">
          By <strong><a href=" ">{{ random_posts.user.username }}</a>
          </strong> , <strong>{{ random_posts.user.profile.location }}</strong>
        </div>
      </div>
      <div class="col-md-8 text-center img-fluid" style=" background: url( '{{random_posts.photo.cdn_url }}');height:55vh;" id="dashboard ">
        <div class="box-site-head ">
          <div class="  ">
            <a href="{% url 'project' random_posts.title %} ">
            </a>
          </div>
          <div class="site_link">
            <a href="{% url 'project' random_posts.title %} " aria-label=" "></a>
            <div class="content-div ">
              <div class="box-info ">
                <div class="row display">
                  <h2 class="">
                    <a href="{% url 'project' random_posts.title %}" class="btn post_title">{{ random_posts.title }}</a>
                  </h2>
                </div>
                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4  "></div>
                  <div class="row container d-flex justify-content-center ">
                    {% for rating in random_posts.ratings.all %} {% if forloop.counter is random_posts.ratings.all.count %}
                    <div class=" col-md-3  ">
                      <p class="attrib rating">{{rating.design_average}}</p>
                      <p class="attrib ">DESIGN</p>
                    </div>
                    <div class=" col-md-3 ">
                      <p class="d-block rating1  ">{{rating.usability_average}}</p>
                      <p class="attrib  ">USABILITY</p>
                    </div>
                    <div class="col-md-3 ">
                      <p class="d-block rating2">{{rating.content_average}}</p>
                      <p class="attrib  ">CONTENT</p>
                    </div>
                    <div class="col-md-3 ">
                      <p class="d-block  rating3 ">{{rating.score}}</p>
                      <p class="attrib  ">SCORE</p>
                    </div>
                    {% endif %} {% endfor %}
                  </div>
                  <div class="col-md-4"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 align-self-end ">
        <a href="{{random_posts.url}} " data-identifier=" " data-type="submission " class="btn rounded-pill btn-lg " target="_blank " rel="noopener nofollow " style="float: right;background-color: #78bc61;color: white; ">Visit
          Site</a>
      </div>
    </div>
  </div>
  <div class="container " id="projects_list">
    <hr style="font-weight:300; color: #78bc61;padding-top:1% ;">
    <h2 class="mt-4 text-center">Project sites available for Rating</h2>

    {% if user.is_authenticated %}
    <div class="modal fade text-center" id="submitsite" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title " id="exampleModalLongTitle ">Upload a project</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action=" " method="post "> {% csrf_token %} {{ form|crispy }}
              <button type="submit" class="btn btn-outline-primary btn-sm"> Submit Site</button>
              <button type="button " class="btn btn-outline-danger btn-sm " data-dismiss="modal ">Close </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="row ">
      {% if posts %}
      <div class="templates display ">
        <div class="row">
          {% for post in posts %}
          <div class="col-md-4 mb-3 ">
            <div class="card  shadow-lg rounded p-2">
              <div class="view overlay ">
                <h4 class="card-title text-center"><a class="btn P_title" href="{% url 'project' post.title %} ">{{post.title|title}}</a>
                </h4>
                </a>
              </div>
              <div class="card-body ">
                <img class="card-img" src="{{ post.photo.cdn_url }} " alt="{{photo.title}} ">
                <div>
                  <hr>
                  <p style="font-size: x-small;">
                    <strong>Description:</strong>{{post.description}}</p>
                  <p style="font-size: xx-small;">
                    <strong>Technologies Used:</strong>{{post.technologies}}</p>
                  <hr>
                  <p class="card-text ">
                    <img id="prof_picture" src="{{post.user.profile.profile_picture.url}} " alt=" "> By {{post.user.username|title}} <span style="float:right ">{{post.date|date}}</span>
                  </p>
                  <hr>
                  <div class="d-flex justify-content-between">
                    <p class="text-center"><a class="btn btn-sm btn-outline-success " href="{{ post.url }} ">Visit live Site</a></p>
                    <p class="text-center"><a class="btn btn-sm btn-outline-info " href="{% url 'project' post.title %} ">Rate Site</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}