{% extends 'base.html' %}{% load static %} {% load crispy_forms_tags %} {% block content %}
<div class="container-fluid" style="margin-top:5%;">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-2  p-3 ">
        <div class=" align-self-center p-3 tred ">
          <h5 id="trend">Trending Site</h5>
          <span class="trend_day">{{random_posts.date|date}}</span>
        </div>
        <div class="align-self-center posted_by">
          by <strong><a href=" ">{{ random_posts.user.username }}</a>
          </strong> from <strong>{{ random_posts.user.profile.location }}</strong>
        </div>
      </div>
      <div class="col-md-8 text-center " style=" background: url( '{{random_posts.photo.cdn_url }}');height: 50vh;" id="dashboard ">
        <div class="box-site-head ">
          <div class=" box-bg ">
            <a href="{% url 'project' random_posts.title %} ">
            </a>
          </div>
          <div class="box-content over ">
            <a href="{% url 'project' random_posts.title %} " class="site-link " aria-label=" "></a>
            <div class="content-div ">
              <div class="box-info ">
                <div class="row mx-auto D-block ">
                  <h2 class="heading-large ">
                    <a href="{% url 'project' random_posts.title %}" class="btn post_title">{{ random_posts.title }}</a>
                  </h2>
                </div>
                <div class="box-notesite js-notes ">
                  <ul>
                    {% for rating in random_posts.ratings.all %} {% if forloop.counter is random_posts.ratings.all.count %}
                    <li class="circle-note-progress style-design " data-note=" ">
                      <div class="circle ">
                        <div class="rating ">
                          <p class="d-block mx-auto textrate ">{{rating.design_average}}</p>
                        </div>
                      </div>
                      <div class="legend ">DESIGN</div>
                    </li>
                    <li class="circle-note-progress style-usability " data-note="{{rating.usability_average}} ">
                      <div class="circle ">
                        <div class="rating1 ">
                          <p class="d-block mx-auto textrate ">{{rating.usability_average}}</p>
                        </div>
                      </div>
                      <div class="legend ">USABILITY</div>
                    </li>
                    <li class="circle-note-progress style-creativity " data-note="{{rating.content_average}} ">
                      <div class="circle ">
                        <div class="rating2 ">
                          <p class="d-block mx-auto textrate ">{{rating.content_average}}</p>
                        </div>
                      </div>
                      <div class="legend ">CONTENT</div>
                    </li>
                    <li class="circle-note-progress style-content " data-note="{{ rating.score }} ">
                      <div class="circle ">
                        <div class="rating3 ">
                          <p class="d-block mx-auto textrate ">{{rating.score}}</p>
                        </div>
                      </div>
                      <div class="legend ">SCORE</div>
                    </li>
                    {% endif %} {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 align-self-end ">
        <a href="{{random_posts.url}} " data-identifier=" " data-type="submission " class="btn rounded-pill btn-lg " target="_blank " rel="noopener nofollow " style="float: right;background-color: #78bc61;color: white; ">Visit
          Site</a>
      </div>
    </div>
  </div>
  <div class="container " id="projects_list ">
    <h2 class="mt-4 ">Project Websites available for Rating</h2>
    {% if user.is_authenticated %}
    <div class="modal fade bd-example-modal-xl " id="ModalCenter " tabindex="-1 " role="dialog " aria-labelledby="exampleModalCenterTitle " aria-hidden="true ">
      <div class="modal-dialog modal-dialog-centered " role="document ">
        <div class="modal-content ">
          <div class="modal-header ">
            <h5 class="modal-title " id="exampleModalLongTitle ">Upload a project</h5>
            <button type="button " class="close " data-dismiss="modal " aria-label="Close ">
                            <span aria-hidden="true ">&times;</span>
                        </button>
          </div>
          <div class="modal-body ">
            <form action=" " method="post " enctype="multipart/form-data ">
              {% csrf_token %} {{ form|crispy }}
              <input type="submit " class="btn btn-sm btn-info " value="Save " />
              <button type="button " class="btn btn-outline-danger btn-sm " data-dismiss="modal ">Close
                            </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="row ">
      {% if posts %}

      <div class="templates display ">
        {% for post in posts %}
        <div class="col-md-4 mb-4 ">
          <div class="card ">
            <div class="view overlay ">
              <img class="card-img-top " src="{{ post.photo.cdn_url }} " alt="{{photo.title}} ">
              <a href="{% url 'project' post.title %} ">
                <div class="mask rgba-white-slight "></div>
              </a>
            </div>
            <div class="card-body ">
              <h4 class="card-title "><a href="{% url 'project' post.title %} ">{{post.title|title}}</a> <a class="btn btn-sm btn-outline-info " href="{{ post.url }} "> View</a></h4>
              <hr>
              <p class="card-text "><img id="prof_picture " src="{{post.user.profile.profile_picture.url}} " alt=" "> By {{post.user.username|title}} <span style="float:right ">{{post.date|date}}</span>
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      {% endif %}
    </div>
  </div>
</div>

{% endblock %}