      #proj {
        color: #78bc61;
        font-family: 'Abril Fatface', cursive;
        font-size: xx-large;
      }
      
      #awardS {
        color: #FF6B6B;
        font-family: 'Abril Fatface', cursive;
        font-size: x-large;
      }
      
      nav {
        background-color: #141204;
      }
      
      .sign {
        color: #EFF1F3;
      }