       #projects_list {
         background-color: #141204;
       }
       
       #proj {
         color: #78bc61;
         font-family: 'Abril Fatface', cursive;
         font-size: xx-large;
       }
       
       #awardS {
         color: #FF6B6B;
         font-family: 'Abril Fatface', cursive;
         font-size: x-large;
       }
       
       nav {
         background-color: #141204;
       }
       
       .sign {
         color: #EFF1F3;
       }
       
       #prof_picture {
         width: 20%;
         height: 20%;
       }
       
       #site_photo {
         width: 100%;
         height: 50%;
       }
       
       #dashboard {
         width: 100%;
         background-image: url(../images/goldstage.png);
         background-size: cover;
         background-repeat: no-repeat;
         border-radius: 2%;
         object-fit: cover;
       }
       
       .content-div {
         background-color: rgba(255, 255, 255, 0.459);
       }
       
       #trend {
         color: #78bc61;
       }
       
       .posted_by {
         margin-bottom: -2%;
       }
       
       .post_title {
         font-size: xx-large;
       }